.col-date {
    width: 20%;
}

.col-reason {
    width: 80%;
}

.text-container {
    max-width: 80%; /* Adjust width as needed */
    position: relative;
}
.text-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-details {
    display: none;
    position: absolute;
    width: 25%;
    text-align: center;
    /* padding: 5px; */
    /* border-top: 1px solid #ddd; */
}

button.more-details {
    color: #5DAEF2;
}

button.more-details:hover {
    background-color: #5DAEF2;
    border: none;
    color: #fff;
}



.modal-body {
    word-wrap: break-word;
}

.container-deletion-reasons {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 17%;
    /* width: 800px; */
    /* margin-right: 151px; */
    position: absolute;
}

table {
    width: 800px;
    border-radius: 10px;
}
