/* footer ----------------*/
.footer {
    background-color: #535353;
    /* opacity: 0.9; */
    width: 100%;
    min-height: 20px;
}

.footer_container {
    padding-right: 15px;
    padding-left: 15px;
    }

.copyright{
    font-family:  "Lato", sans-serif;
    color: #c7c7c8;
    font-weight: 400;
    font-size: 14px;
    margin-right: 180px;
}

.faq{
    font-family:  "Lato", sans-serif;
    color: #c7c7c8;
    font-weight: 400;
    font-size: 20px;
}

.btn-contact:hover {
    opacity: 0.8;
}