/* Background Settings */
/* body {
    background-image: url(../images/background/default.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


} */

/* Styling of this page */
.card {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* Quote */
.bubblespeech {
    width: 50px;
    height: auto;
}

.quote-copy{
    border:none !important;
    outline:none !important;
    width: 100px;
    height: 100px !important;
    line-height:1em !important;
    white-space: pre-line;
    font-size: 27px;
    color: #42484D !important; 
    font-family: "Lato", sans-serif;
    font-weight: 500;

    
    
}

/* Refresh, bookmark, copy buttons */
.fa-arrows-rotate,
.fa-bookmark,
.fa-clone {
    color: #6BB7F6;
}


/* animation of Remichan on today's quote sec */
.fuwafuwa {
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
    display: inline-block;
    transition: 1.5s ease-in-out;
    width: 70px;
    height: 70px;
    margin-top: 15px;
  }
  
  @keyframes fuwafuwa {
    0% {
      transform:translate(0, 0) rotate(-10deg);
    }
    50% {
      transform:translate(0, -7px) rotate(0deg);
    }
    100% {
      transform:translate(0, 0) rotate(10deg);
    }
  }
  
  
  /* fade in today's quote */
  .fade-in-text {
      position: relative;
      /* font-size: 24px; */
      opacity: 0; /* 初めは透明に設定 */
      transform: translateY(100%); /* 下からスライドするために位置を下に設定 */
      animation: fadeInFromBottom 1s forwards; /* フェードインアニメーションの設定 */
    }
    
    @keyframes fadeInFromBottom {
      to {
        opacity: 1; /* アニメーション終了時に完全に表示 */
        transform: translateY(0); /* アニメーション終了時の位置 */
      }
    }

   /* 吹き出し線*/
   .fukidashi-01-13 {
    position: relative;
    padding: 12px 16px 12px 30px;
  }
  /* 上長 */
  .fukidashi-01-13::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100px;
    height: 1px;
    transform: rotate(-14deg);
    box-sizing: border-box;
    background-color: #42484D;
  }

  /* 下長 */
  .fukidashi-01-13::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 120px;
    height: 1px;
    transform: rotate(14deg);
    box-sizing: border-box;
    background-color: #42484D;
  }

 
  .fukidashi-01-13 > .ornament {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .fukidashi-01-13 > .ornament::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 160px;
    height: 1px;
    transform: rotate(-12deg);
    box-sizing: border-box;
    background-color:#42484D;
  }
  .fukidashi-01-13 > .ornament::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 160px;
    height: 1px;
    transform: rotate(12deg);
    box-sizing: border-box;
    background-color: #42484D;
  }

  /* text tooltips */

  .tooltip-002 {
    display: inline-block;
    position: relative;
}

.tooltip-002 > div {
    cursor: pointer;
}

.tooltip-002 > span {
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: .5em 1em;
    border-radius: 3px;
    background-color:rgb(177, 179, 182);
    color: #ffffff;
    font-size: 13px;
    white-space: nowrap;
    transition: opacity .3s;
}

.tooltip-002 > span::before {
    position: absolute;
    bottom: -6px;
    width: 9px;
    height: 6px;
    background-color: inherit;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.tooltip-002:hover > span {
    visibility: visible;
    opacity: 1;
}
  

/* Journaling */
.remichan_circle img {
    width: 150px;
    height: auto;
}

input {
    height: 80px;
}

/* Create Journaling */
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
    width: 800px;
}

.custom-placeholder::placeholder {
    font-size: 20px; /* Adjust the font size as needed */
    font-family: "lato", sans-serif;
}

/* Mood */
.container-mood h3 {
    text-align: center;
    background-color: D9D9D9;
    border-radius: 20px;
    border-style: none;
}

/* Chat Room Links */
a.btn-relationship {
    border-radius: 10px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: 650;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #F76F51;
    align-items: center;
    padding-bottom: 10px;
}

a.btn-career {
    border-radius: 10px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: 650;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #F1935E;
    align-items: center;
}

a.btn-family {
    border-radius: 10px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: 650;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #F3B336;
    align-items: center;

}

a.btn-health {
    border-radius: 10px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: 650;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #75CF73;
    align-items: center;
}

a.btn-finance {
    border-radius: 10px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: 650;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #AF84F6;
    align-items: center;
}

a.btn-others {
    border-radius: 10px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: 650;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #F588EA;
    align-items: center;
}

a.btn-relationship:hover,
a.btn-relationship:focus {
    background-color: #ffbeaf;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    text-decoration: none;
    color: #F76F51;
}

a.btn-career:hover,
a.btn-career:focus {
    color: #F1935E;
    background-color: #ffcfb6;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    text-decoration: none;
}

a.btn-family:hover,
a.btn-family:focus {
    color: #F3B336;
    background-color: #fff1d4;;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    text-decoration: none;
}

a.btn-health:hover,
a.btn-health:focus {
    color: #75CF73;;
    background-color: #c1f9c0;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    text-decoration: none;
}

a.btn-finance:hover,
a.btn-finance:focus {
    color: #AF84F6;;
    background-color: #e0cdff;;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    text-decoration: none;
}

a.btn-others:hover,
a.btn-others:focus {
    color: #F588EA;
    background-color: #ffd4fb;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    text-decoration: none;
}

/* .score {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
}
#great { background-image: url('../images/moods/great.png'); top: 60px; left: 50px; }
#good { background-image: url('../images/moods/good.png'); top: 100px; left: 50px; }
#ok { background-image: url('../images/moods/ok.png'); top: 100px; left: 50px; }
#notgood { background-image: url('../images/moods/notgood.png'); top: 100px; left: 50px; }
#bad { background-image: url('../images/moods/bad.png'); top: 100px; left: 50px; } */

.mood-icon {
    width: 70px;
    height: 70px;
}



