.journal-body {
    margin-left:200px;
}

.journal-add-input {
    border-radius: 25px !important;
}

.journal-form{
    margin-bottom: 0px;
}

.journal-search-component{
    display: inline !important;
    width: 150px !important;
    border: 1px solid #979a9b !important;
    border-radius: 10px !important;
    font-family: "Lato", sans-serif !important;
    background-color: #fff !important;
    font-family: "Lato", sans-serif !important;
}

.journal-search-component::placeholder {
    color: #979a9b !important;
}

.search-date {
    width: 100px;
}

.journal-search-keyword {
    width: 200px !important;
    padding-left: 35px !important;
}

.edit-icon {
    color: #6BB7F6;
    cursor: pointer;
}

.delete-icon {
    color: #979a9b;
    size: 24px;
    margin-left: 2px;
    cursor: pointer;
}

.comment-icon {
    color: #6BB7F6;
    cursor: pointer;
    font-size: 18px;
}

.comment-text {
    color: #6BB7F6;
    margin-left: 1px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


.search_box{
    position: relative;
    display: inline-block;
    line-height: 1;
  }
  .search_box:before{
    position: absolute;
    top: 5;
    bottom: 0;
    left: 20px;
    margin: auto;
    width: 1.5em;
    height: 1em;
    /* padding-right: 30px; */
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: '\f002';
    color: #979a9b;
    /* background-color: #FF6BA0; */
  }
  .search_box input[type="search"]{
    width: 200px;
    height:40px;
    font-size: 16px;
    padding: 10px 15px 10px 100px !important;
    border-radius: 10px;
    border: 1px solid #979a9b;
    /* background: #fff; */
    /* background-color: aqua; */
    color: #979a9b;
    /* box-shadow: 2px 2px 2px 0 #ccc inset; */
  }
  /* .search_box input[type="text"]:focus{
    outline:0;
  } */
  .search_box input[type="search"]::placeholder{
    color: #ccc;
  }

  
.journal-other-btn{
    color: #979a9b;
    /* border: 1px solid #979a9b; */
    /* height: 40px; */
    /* width:200px; */
    font-size: 18px;
    /* border-radius: 10px; */
    /* font-family: "Lato", sans-serif; */
}




.like-container {
    position: relative;
    display: inline-block;
}

.like-icon {
    font-size: 2em; 
    color: #e74c3c;
}

.like-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 1em;
    color: #fff;
}

.blue {
    color: #85C4FF;
}

.pink {
    color: #FF85C0;
}

.avatar-sm {
    width: 3rem;
    height: 50px !important;
    object-fit: cover;
    display: flex;
    align-items: center; 
    margin-right: 10px;
}

input {
    width: 800px;
    border-radius: 40px;
}


.input-size {
    width: 800;
    margin-left: 151px;
    margin-right: 151px;
}




.avatar-sm {
    width: 3rem;
    height: 50px !important;
    object-fit: cover;
    display: flex;
    align-items: center; 
    margin-right: 10px;
}

input {
    width: 800px;
    border-radius: 40px;
}


.input-size {
    width: 800;
    margin-left: 151px;
    margin-right: 151px;
}




.button_minus {
    cursor: pointer;
}

.button_plus{
    cursor: pointer;
}



/*
.container-journal {
    margin-left: 444px;
    margin-right: 164px;
}

.card {
        width: 800px;
        margin-left: 152px;
        margin-right: 152px;


}

.icon-sm {
    font-size: 3rem;
    color: #CED3D5;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.

.form-control {
    flex: 1;
}

div .rounded-input {
    border-radius: 25px;
}

.container-journal {
    width: 800px;
}

div.button-edit,
div.button-delete {
    font-size: 3rem
}

button.button-edit {
    color: #6BB7F6;

}

button.button-delete {
    color: #FF6BA0;

}

p a {
    color: #6BB7F6;

}

.remi img {
    width: 160px;
    height: auto;
  }

.selectors input {
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.selectors input:active +.selector {
    opacity: .9;
}

.selectors input:checked +.selector {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;

    width: 120px;
    height: 120px;
}

.selector{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    width: 100px; height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(0) opacity(.9);
       -moz-filter: brightness(1) grayscale(0) opacity(.9);
            filter: brightness(1) grayscale(0) opacity(.9);
}

.selector:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
            filter: brightness(1.2) grayscale(.5) opacity(1);
}

.fa-circle-xmark {
    color: #FF6BA0;
}


.form-position {
    margin-right: 151px;
}
*/