.search-date {
    width: 100px;
}

.like-container {
    position: relative;
    display: inline-block;
}

.like-icon {
    font-size: 2em; 
    color: #e74c3c;
}

.like-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 1em;
    color: #fff;
}

.blue {
    color: #85C4FF;
}

.pink {
    color: #FF85C0;
}

.avatar-sm {
    width: 3rem;
    height: 50px !important;
    object-fit: cover;
    display: flex;
    align-items: center; 
    margin-right: 10px;
}

input {
    width: 800px;
    border-radius: 40px;
}


.input-size {
    width: 800;
    margin-left: 151px;
    margin-right: 151px;
}





/*
.container-journal {
    margin-left: 444px;
    margin-right: 164px;
}

.card {
        width: 800px;
        margin-left: 152px;
        margin-right: 152px;


}

.icon-sm {
    font-size: 3rem;
    color: #CED3D5;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.

.form-control {
    flex: 1;
}

div .rounded-input {
    border-radius: 25px;
}

.container-journal {
    width: 800px;
}

div.button-edit,
div.button-delete {
    font-size: 3rem
}

button.button-edit {
    color: #6BB7F6;

}

button.button-delete {
    color: #FF6BA0;

}

p a {
    color: #6BB7F6;

}

.remi img {
    width: 160px;
    height: auto;
  }

.selectors input {
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.selectors input:active +.selector {
    opacity: .9;
}

.selectors input:checked +.selector {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;

    width: 120px;
    height: 120px;
}

.selector{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    width: 100px; height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(0) opacity(.9);
       -moz-filter: brightness(1) grayscale(0) opacity(.9);
            filter: brightness(1) grayscale(0) opacity(.9);
}

.selector:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
            filter: brightness(1.2) grayscale(.5) opacity(1);
}

.fa-circle-xmark {
    color: #FF6BA0;
}


.form-position {
    margin-right: 151px;
}
*/