/* navbar as header */
.nav_logo {
    width: 160px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.nav_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 6px;
}

.nav_icon {
    margin: 0 auto;
    max-width: 600px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #fff;
}

.nav_pageTitle {
    font-size: 33px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.7px;
    font-weight: 400;
    color: #fff;
    justify-content: center;
    margin-left: -55px;
    margin-top: 5px;
}

.nav_avatar {
    font-size: 45px;
    width: 50px;
    height: 50px;
    border: 3px solid #7e7e7e;
    border-radius: 100%;
    color: #fff;
    margin-right: 15px;
}

.nav_avatar_link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.nav_logo:hover,
.nav_icon:hover,
.nav_avatar_link:hover {
    opacity: 0.4;
}


/* sidebar ---------------*/
.body_sidebar {
    display: block;
    position: fixed;
    width: 280px;
    height: 100%;
    top: 79px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: 42484D;
}

.sidebar_inner {
    margin-top: 30px;
    margin-left: 30px;
}

.sidebar_inner_bottom {
    position: fixed;
    bottom: 20px;
    margin-left: 30px;
}

.sidebar_h1 {
    font-size: 14px;
    font-weight: 400; 
    line-height: 1.5;
    letter-spacing: 2px;
}

/* .sidebar_icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    justify-content: left;
    text-align: left;
    margin-bottom: 20px;
} */

.sidebar_icon_admin {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    justify-content: left;
    text-align: left;
    margin-bottom: 5px;
}

.sidebar_avatar {
    font-size: 30px;
    width: 50px;
    height: 50px;
    outline: 2px solid #4945455f;
    border-radius: 100%;
    color: #343A40;
}

.sidebar_hr1{
    border-width: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #2424245f;
    width: 210px;
    margin-left: -45px;
}

.ls_sidebar_admin {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

.ls_sidebar_admin a {
    color: inherit;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.ls_sidebar_admin a:hover {
    background:  rgba(253, 253, 253, 0.5);
    border-radius: 2px;
    margin-right: 90px;
    display: inline;
	padding: 3px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
} 


.sidebar a,
.sidebar_avatar a,
/* .sidebar_icon a, */
.ls_sidebar_admin a {
    color: inherit;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a:hover,
.sidebar_avatar a:hover,
.sidebar_icon a:hover,
.ls_sidebar_admin a:hover {
    opacity: 0.5;
}

.sidebar a:active,
.sidebar_avatar a:active,
.sidebar_icon a:active,
.ls_sidebar_admin a:active {
    background-color: #fff;
}
