/* navbar as header */
/* .navbar {
    background-color: #6C757D;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #fff;
    position: relative;
    height: 79px;
    align-items: center;
    width: 100%!important;
    text-align: center;
} */

.nav_logo {
    width: 160px;
    height: 30px;
    margin-left: 5px; 
    display: flex;
    justify-content: center;
}

.nav_logo:hover {
    opacity: 0.4;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.nav_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 6px;
}

.nav_icon {
    margin: 0 auto;
    max-width: 600px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #fff;
}

.nav_icon:hover {
    opacity: 0.4;
}

.nav_pageTitle {
    font-size: 33px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.7px;
    font-weight: 390;
    color: #fff;
    justify-content: center;
    margin-left: -55px; 
    margin-top: 5px;
}

.nav_avatar {
    font-size: 45px;
    width: 50px;
    height: 50px;
    outline: 3px solid #7471715f;
    border-radius: 100%;
    color: #fff;
}

.nav_avatar_link {
    text-decoration: none;
    color: inherit;
}

.nav_avatar_link:hover {
    opacity: 0.3;
}

.btn-login {
    background-color: transparent;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    width: 90px;
    height: 35px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 430;
    letter-spacing: 0.7px;
    border-radius: 7px;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    text-align: center;
}

.btn-login:hover {
    opacity: 0.6;
}

.btn-logout {
    background-color: transparent;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    width: 90px;
    height: 35px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 430;
    letter-spacing: 0.7px;
    border-radius: 7px;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    text-align: center;
}

.btn-logout:hover {
    opacity: 0.6;
}

.btn-register {
    background-color: #6C757D;
    color: #e1e1e1;
    border: 1.5px solid #e1e1e1;
    width: 90px;
    height: 35px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 430;
    letter-spacing: 0.7px;
    border-radius: 7px;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    text-align: center;
}

.btn-register:hover {
    opacity: 0.3;
}

/* footer */

.btn-contact:hover {
    opacity: 0.7;
}

.bg-footer {
    background-color: #b4b4b4;
    background-size: auto;
    opacity: 0.9;
}


/* sidebar */
.body_sidebar {
    display: block;
    position: fixed;
    width: 280px;
    height: 100%;
    top: 79px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.sidebar_inner {
    margin-top: 30px;
    margin-left: 30px;
}

.sidebar a {
    color: inherit;
    list-style: none;
    text-decoration: none;
}

.sidebar a:hover {
    opacity: 0.3;
}

.sidebar_link[href="/mood.index"] {
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
}


.sidebar_inner_bottom {
    position: fixed;
    left: 0;
    bottom: 40px;
    margin-top: 30px;
    margin-left: 30px;
}

.sidebar_h1 {
    font-size: 14px;
    font-weight: 400; 
    line-height: 1.5;
    letter-spacing: 2px;
}

.sidebar_icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    justify-content: left;
    text-align: left;
    margin-bottom: 20px;
}

.sidebar_icon_admin {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    justify-content: left;
    text-align: left;
    margin-bottom: 5px;
}

.sidebar_avatar {
    font-size: 30px;
    width: 50px;
    height: 50px;
    outline: 2px solid #4945455f;
    border-radius: 100%;
    color: #343A40;
    margin-right: 8px;
}

.sidebar_avatar:hover {
    opacity: 0.4;
}

.sidebar_hr1{
    border-width: 2px;
    border-style: solid;
    border-color: #2424245f; 
    width: 210px;
    margin-left: -45px;
}

.sidebar_contact{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    cursor : pointer;
}

.ls_sidebar_admin {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

.ls_sidebar_admin a{
    color: inherit;
    list-style: none;
    text-decoration: none;
}

.ls_sidebar_admin:hover{
    background:  rgba(253, 253, 253, 0.5);
    border-radius: 2px;
    margin-right: 90px;
    display: inline;
	padding: 3px;
}