/* navbar as header */
.nav_logo {
    width: 160px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.nav_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 6px;
}

.nav_icon {
    margin: 0 auto;
    max-width: 600px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #fff;
}

.nav_pageTitle {
    font-size: 33px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.7px;
    font-weight: 400;
    color: #fff;
    justify-content: center;
    margin-left: -55px;
    margin-top: 5px;
}

.nav_avatar {
    font-size: 45px;
    width: 50px;
    height: 50px;
    border: 3px solid #7e7e7e;
    border-radius: 100%;
    color: #fff;
    margin-right: 10px;
}

.nav_avatar_link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.nav_logo:hover,
.nav_icon:hover,
.nav_avatar_link:hover {
    opacity: 0.3;
}

