
/* body {
    background-image: url(../images/background/default.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.container-profile-show {
    margin-left: 444px;
    margin-right: 164px;
}

.card {

    width: 800px;

}

.avatar {
    font-size: 180px;
    color: #CED3D5;
}

img.avatar {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: flex;
}


img.selector {
    width: 20px;
    height: 20px;
}

.table .quote-column {
    width: 75%; /* Adjust as needed */
}

.table .author-column {
    width: 25%; /* Adjust as needed */
}


/* selectors */
.selectors input {
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.default {
    background-image: url('../images/selectors/default.png');
}

.green {
    background-image: url('../images/selectors/green.png');
}

.blue {
    background-image: url('../images/selectors/blue.png');
}

.pink {
    background-image: url('../images/selectors/pink.png');
}

.yellow {
    background-image: url('../images/selectors/yellow.png');
}

.dark {
    background-image: url('../images/selectors/dark.png');
}

.selectors input:active +.selector{
    opacity: .9;
}

.selectors input:checked +.selector {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;

    width: 100px;
    height: 100px;
}

.selector{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    /* display:inline-block; */
    width:80px;height:80px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(0) opacity(.9);
       -moz-filter: brightness(1) grayscale(0) opacity(.9);
            filter: brightness(1) grayscale(0) opacity(.9);
}

.selector:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
            filter: brightness(1.2) grayscale(.5) opacity(1);
}

.expanded-input {
    height: 60px; /* Adjust the height as needed */
    padding: 10px; /* Adjust padding for a better visual appearance */
    box-sizing: border-box; /* Ensure padding and border are included in the height */
}

.favorite-quote{
    font-size: 20px;
}
