
.quote-edit-icon {
    color: #6BB7F6;
}

.quote-delete-icon {
    color: #FF6BA0;
}


.quote-body-size{
    padding-right: 164px;
    padding-left: 164px;
}

/* .card{
        width: 800px; 
    } */


.quote-table{
    border-color: #979a9b;
    color: #42484D !important; 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

th {
    color: #42484D !important; 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

td {
    color: #42484D !important; 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.quote-modal {
    border-color: #42484D;
    color: #42484D; 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}
.modal-framebase {
    width: 100%;
    height: auto;
    /* background-color: rgb(1, 232, 5); */
    border: solid 1px #42484D;
    border-radius: 10px;
    padding: 10px;

}

.quote-frame1{
    display: inline-block;
    /* background-color: rgb(232, 1, 97); */
    margin-top: 10px;
    line-height: 150%;
    height: 200px !important;
} 

.quote-frame2{
    display: inline-block;
    margin-top: 0;
    /* background-color: green;  */
}  



.quote-content{
    width: 800px;
    background-color: white;
    padding: 30px;
    margin: 100px auto;
}

.quote-sort{
    width: 200px;
    border-color: #42484D;
    color: #42484D; 
    font-size: 20px;
}

.quote-hide-icon{
    display: inline-block;
}


/* icon */

.quote-box-icon{
    font-size: 20px;
    color: #6f7172;
    text-align: left;
    float:right; 
    padding-top:15px;
}

.quote-other-btn{
    color: #979a9b;
    border: 1px solid #979a9b;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
}

.quote-switch{
    display: inline-block !important;

}

.quote-bookmark-store{
    display: inline-block !important;
    color: rgb(255, 221, 0);
    font-size: 20px;

}

.quote-bookmark-cancel{
    display: inline-block !important;
    color: #979a9b;
    font-size: 20px;
}



.quote-button-wrapper{
    height:40px !important;
}


.switch_label {
    display: flex;
    align-items: center;
  }
  
/* .button[type='submit'] {
    position: absolute;
    width: 0;
    height: 0; */
    /* background-color: #FF6BA0; */

  /* } */

.base {
    width: 56px !important;
    border-radius: 16px;
    height: 30px;
    /* background-color: #ddd; */
    background-color: rgb(177, 179, 182);
    font-size: x-small;
    color: #42484D;
    position: relative;

    
  }

 
/* 
  .title {
    margin-left: 4px;
  } */

  .circle {
    position: absolute;
    right: 4px;
    top: 4px;
    /* left: 4px; */
    width: 21px;
    height: 21px;
    border-radius: 12px;
    background-color: white;
  }

  .circle-move {
    position: absolute;
    transform: translateX(-260%);
    background-color: white;
  }

  .switch {
    position: absolute;
  }

  .hide-switch{
    background-color: #FF6BA0;
    width: 85px !important;
    height: 30px !important;
  }

  .hide-switch:hover {
    color: #FF6BA0;
    transform: scale(1.1);
    background-color: white;
    border-color: #FF6BA0;
  }
  .circle-move:hover{
    background-color:  #FF6BA0;
  }


  .unhide-switch {
    background-color: #ddd;
    /* transform: scale(1.1); */
    width: 85px !important;
    height: 30px !important;
  }

  .unhide-switch:hover {
    background-color: #42484D ;
    transform: scale(1.1) !important;
    /* opacity: 0.3; */
    color: white;
      
  }