/* sidebar ---------------*/
/* background */
.body_sidebar {
    display: block;
    position: fixed;
    width: 280px;
    height: 100%;
    top: 79px;
    left: 0;
    background-color: rgba(187, 187, 187, 0.8);
}

/* element */
.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar_title {
    font-family: lato, sans-serif;
    font-weight: 400; 
    color: #42484D;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.sidebar_icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: 400; 
    color: #42484D;
    font-size: 18px;
    text-decoration: none;
}

.sidebar_inner {
    margin-top: 25px;
    margin-left: 25px;
}

.sidebar_inner_footer {
    position: fixed;
    bottom: 25px;
    margin-left: 25px;
}

.menu ul li{
    margin-left: -30px;
    margin-bottom: 20px;
    list-style: none;
}

.avatar_container {
    display: flex;   
    align-items: center;
    margin-bottom: 24px;
}

.sidebar_avatar {
    font-size: 44px;
    width: 50px;
    height: 50px;
    border: 3px solid #7e7e7e;
    border-radius: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    font-family: inherit;
    font-weight: 400;
    color: #42484D;
    font-size: 14px;
    letter-spacing: 0.8px;
    margin-left: 10px;
}

.sidebar_contact {
    background-color: rgba(255, 255, 255, 0.6);
    color: #42484D;
    border: none;
    width: 140px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.sidebar_faq{
    font-family:  "Lato", sans-serif;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.8;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

/* sidebar admin ---------------*/

.sidebar_icon_admin {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    justify-content: left;
    text-align: left;
    margin-bottom: 5px;
}

.ls_sidebar_admin {
    list-style: none;
}

.ls_sidebar_admin a {
    font-family: inherit;
    color: #42484D;
    line-height: 2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.ls_sidebar_admin a:hover {
    background:  rgba(253, 253, 253, 0.5);
    border-radius: 2px;
    margin-right: 20px;
    display: block;
    width: 160px;
	padding: 3px;
    line-height: 2;
} 


/* Common a, hover ---------------*/
.sidebar a
.sidebar_icon a
.menu a
.menu ul li a
.sidebar_avatar a
.username a {
    list-style: none;
    font-weight: 400;
}

.menu a:hover,
.menu ul li a:hover{
    opacity: 0.6;
}


/* Active Page Function ---------------*/
p.Mood.Tracking_mood{
    background-color: rgb(137, 129, 129);
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 5px;
}

p.Journal_journal{
    background-color: rgb(137, 129, 129);
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 5px;
}

/* p.Admin.Quotes_quote{
    background-color: rgb(137, 129, 129);
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 5px;
} */

p.Chat_chat{
    background-color: rgb(137, 129, 129);
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 5px;
}
