/* sidebar ---------------*/
/* background */
.body_sidebar {
    display: block;
    position: fixed;
    width: 220px;
    height: 100%;
    top: 79px;
    left: 0;
    background-color: rgba(187, 187, 187, 0.8);
}

/* element */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sidebar_title {
    font-family: lato, sans-serif;
    font-weight: 500;
    color: #42484D;
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.sidebar_icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 3px;
    font-family: inherit;
    font-weight: 400; 
    color: #42484D;
    font-size: 16px;
    text-decoration: none;
}

.sidebar_inner {
    margin-top: 25px;
    margin-left: 25px;
}

.sidebar_inner_footer {
    position: fixed;
    bottom: 25px;
    margin-left: 25px;
}

a.sidebar_contact {
    border: none;
    width: 140px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #42484D;
    font-family: inherit;
    cursor: pointer;
}

.sidebar_faq{
    font-family: inherit;
    font-size: 16px;
    color: #42484D;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

/* Common a ---------------*/
.sidebar a,
.sidebar_icon a {
    list-style: none;
}

.sidebar a:hover,
.sidebar_icon a:hover,
.ls_sidebar_item a:hover {
    opacity: 0.6;
}

/* sidebar admin ---------------*/
ul.ls_sidebar_admin {
    position: relative;
}

.ls_sidebar_item {
    text-decoration: none;
    list-style: none;
    font-family: Lato, sans-serif;
    color: #42484D;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}

/* Active Page Function main menu---------*/
p.Mood.Tracking_mood,
p.Chat_chat,
p.Journaling_journal,
p.Quote_quote {
    background-color: rgb(137, 129, 129);
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 5px;
}

/* Active Page Function of admin menu ------*/
.selected_sb_admin {
    background-color: rgb(137, 129, 129);
    color: white;
    font-weight: 400;
    width: 150px;
    border-radius: 5px;
}

.selected_sb_admin:before {
    background-color: rgb(137, 129, 129);
    z-index: -1;
}

.selected_sb_admin a {
    color: white;
}