/* Basic Style */
body {
    font-family: "Lato", sans-serif;
    color: #42484D;
    font-size: 20px;
}

/* Font Family */
h1, h2, h3, p, footer {
    font-family: "Lato", sans-serif;
    color: #42484D;
}

/* Nav bar */
.navbar {
    background-color: #343434;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #fff;
    position: relative;
    height: 79px;
    align-items: center;
    width: 100%!important;
    text-align: center;
    position: sticky;
}

.nav-link {
    font-family: "Lato", sans-serif;
    font-size: inherit;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    color: #fff;

}

/* Font Size */
.caption {
    font-size: 16px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 27px;
}

/* Action Buttons */
.btn-submit {
    border-radius: 10px;
    background-color: #0068E2;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-weight: 650;
    font-family: "Lato", sans-serif;

}

.btn-submit:hover,
.btn-submit:focus {
    color: #0068E2;
    background-color: #CEE5FF;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
}

.btn-save {
    border-radius: 10px;
    background-color: #0068E2;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-weight: 650;
    font-family: "Lato", sans-serif;

}

.btn-save:hover,
.btn-save:focus {
    color: #0068E2;
    background-color: #CEE5FF;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
}

.btn-edit {
    background-color: #fff;
    color: #0068E2;
    border: 2px solid #0068E2;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Lato", sans-serif;

}

.btn-edit:hover,
.btn-edit:focus {
    color: #96c0f0;
    background-color: #0068E2;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    border: none;

}

.btn-delete {
    background-color: #FC4646;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-weight: 650;
    font-family: "Lato", sans-serif;

}

.btn-delete:hover,
.btn-delete:focus {
    color: #fc4646ae;
    background-color: #fc464651;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
}

.btn-hide {
    background-color: #FC4646;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 0;
    font-weight: 650;
    font-family: "Lato", sans-serif;
}

.btn-hide:hover,
.btn-hide:focus {
    color: #fc4646ae;
    background-color: #fc464651;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
}

.btn-cancel {
    background-color: #6f7172;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    /* text-shadow: rgba(0,0,0,0.5) 2px 2px 0; */
    font-weight: 650;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.04em;

}

.btn-cancel:hover,
.btn-cancel:focus {
    color: #6f7172;
    background-color: #dddddd;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;

}

.btn-home {
    background-color: #fff;
    color: #6c6c6c;
    /* border-color: #BABEBF; */
    /* border: none; */
    border: 2px solid #6c6c6c;
    width: 225px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 650;
    font-family: "Lato", sans-serif;

}

.btn-home:hover,
.btn-home:focus {
    color: #6c6c6c;
    background-color: #dddddd;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;

}

.btn-contact {
    background-color: #979a9b;
    color: #494e51;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
}

.btn-cancel:hover,
.btn-cancel:focus {
    color: #494e51;
    background-color: #979a9b;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;

}

.btn-login {
    background-color: transparent;
    color: #e1e1e1;
    border: 1.5px solid #e1e1e1;
    width: 85px;
    height: 30px;
    font-size: 16px;
    border-radius: 7px;
    font-family: "Lato", sans-serif;
    margin-right: 20px;

}

.btn-login:hover,
.btn-login:focus,
.btn-logout:hover,
.btn-logout:focus {
    color: #6C757D;
    background-color: #e1e1e1;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
    border: none;
}

.btn-logout {
    background-color: transparent;
    color: #e1e1e1;
    border: 1.5px solid #e1e1e1;
    width: 85px;
    height: 30px;
    font-size: 16px;
    border-radius: 7px;
    font-family: "Lato", sans-serif;
    margin-right: 20px;

}
.btn-register {
    background-color: transparent;
    color: #e1e1e1;
    border: 1.5px solid #e1e1e1;
    width: 85px;
    height: 30px;
    font-size: 16px;
    border-radius: 7px;
    font-family: "Lato", sans-serif;
    margin-right: 20px;
}

.nav_avatar {
    font-size: 45px;
    width: 50px;
    height: 50px;
    border: 3px solid #6f7172;
    border-radius: 100%;
    color: #fff;
    margin-right: 10px;
}

/* login mood entry */
.mood-cancel a {
    color: #FC4646;
}


/* CALENDAR */

#modal-calendar {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is above other content */
}

/* Modal content */
#modal-calendar-content {
    width: 600px;
    /* max-width: 90%; */
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center text inside the modal */
}


#calendar {
    font-family: "Lato", sans-serif;
    color: #42484D;

}

.fc {
    font-family: "Lato", sans-serif;
    color: #42484D;

}

#calendar a {
    text-decoration: none;
    color: #42484D;

}

.fc .fc-event {
    background-color: transparent !important; /* Remove background color */
    border: none !important; /* Remove border */
    box-shadow: none !important; /* Remove any box shadow */
}

/* Remove underline from the calendar title */
a #calendar-container .fc-toolbar-title {
    text-decoration: none !important;
}

/* Ensure the link itself does not have underlines or borders */
#calendar-container {
    text-decoration: none !important;
    border: none;
    background: none;
}

/* reset all link styles within the calendar */
#calendar-container {
    color: inherit; /* Keeps text color consistent */
}

/* today's background color */
.fc-day-today {
    background-color: #34343424 !important;
}

/* < > buttons */
.fc .fc-prev-button,
.fc .fc-next-button {
    background-color: #0068E2 !important;
    border-color: #0068E2 !important;
    color: white !important;
}

.fc .fc-prev-button:hover,
.fc .fc-next-button:hover {
    background-color: #CEE5FF !important;
    border-color: #CEE5FF !important;
    color: #0068E2 !important;
}

/* < > buttons round corner */
.fc .fc-prev-button,
.fc .fc-next-button {
    border-radius: 10px;
}

.fc-daygrid-day.fc-day-sun .fc-daygrid-day-number {
    color: #FC4646 !important;
}

.fc-daygrid-day.fc-day-sat .fc-daygrid-day-number {
    color: #0068E2 !important;
}

.fc-day-sun a {
    color: #FC4646 !important;
}

.fc-day-sat a {
    color: #0068E2 !important;
}


/* profile.show */
.profile-avatar {
    font-size: 400px;
    color: #6f7172;
}

img.profile-avatar {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: flex;
    border: 3px solid #6f7172;
    border-radius: 100%;
}

.modal-profile-avatar {
    font-size: 200px;
    color: #6f7172;
}

img.modal-profile-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    border: 3px solid #6f7172;
    border-radius: 100%;
}
div .btn-delete-account {
    color: #FC4646;
}

div .btn-profile-edit-dismiss {
    color: #FC4646;
    margin-left: auto;
}
/* home.blade */
/* Refresh, bookmark, copy buttons */
.fa-arrows-rotate,
.fa-bookmark,
.fa-clone {
    color: #0068E2;
}

/* see all link */
.container-home-journaling a {
    color: #0068E2;
}

/* yes link in mood section */
a.mood {
    color: #0068E2;
    text-decoration: none;
}

/* mood.index */
.mood-icon-sm {
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center; /* Center icon vertically */
    margin-right: 10px;
    border: 3px solid #6f7172;
    border-radius: 100%;
}


.mood-avatar-sm {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: flex;
    align-items: center; /* Center icon vertically */
    margin-right: 10px;
    border: 3px solid #6f7172;
    border-radius: 100%;
    /* margin-right: 15px; */
}

button.button-feedback-edit {
    color: #0068E2;

}

button.button-feedback-delete {
    color: #FC4646;

}

p a.feedback {
    color: #0068E2;

}

.mood-modal-cancel {
    color: #FC4646;
}

/* admin/users.index */
input:checked + .user-slider {
    background-color: #0068E2;
}

.admin-users-text {
    color: #fff;
}

.users-icon-sm {
    font-size: 2rem;
    color: #343434;
}

.users-avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border: 1px solid #343434;
    border-radius: 100%;
}

/* admin/deletion-reasons.index */
button.dr-more-details {
    color: #0068E2;
}

button.dr-more-details:hover {
    background-color: #0068E2;
    border: none;
    color: #fff;
}

.dr-modal-cancel {
    color: #FC4646;
}

.admin-drs-text {
    color: #fff;
}

 /* sidebar */
div.body_sidebar {
    background-color: #b7b7fc;
    opacity: 0.6;
}

a.sidebar_faq {
    color: #42484D;
}

/* chats */
.total-count-chats {
    color: #fff;
}



/* admin inquiry page */
.inquiry-subtextcolor{
    color:rgb(255, 255, 255);
}

.inquiries-icon-sm {
    font-size: 2rem;
    color: #343434;
}
.inquiries-avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border: 1px solid #343434;
    border-radius: 100%;
    margin-left: 23px;
}

/* quote page */
.quote-subtextcolor{
    color:rgb(255, 255, 255);
}
