.col-id {
    width: 60px;
}

.col-avatar {
    width: 48px;
}

.col-name {
    width: 25%;
}

.col-email {
    width: 50%;
}

.col-activate {
    width: auto;
}

.container-users {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 220px;
    position: absolute;
}

table.table-users {
    width: 65%;
}

div.search-bar {
    width: 65%;
}
/* .table-users td {
    border: 1px solid #CED3D5;;
}

.table-users td:nth-child(2) {
    border-right: none !important;
} */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .user-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }

  .user-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
  }



  input:checked + .user-slider:before {
    transform: translateX(16px);
  }
